NEXT_PUBLIC_E2EE_ENABLED=true
NEXT_PUBLIC_SERVER_JWK_X = "sv4jNIqm4JwcgHmTkqFYQ8LDgH0U5u_YmwqsQLnRMsE"
NEXT_PUBLIC_SERVER_JWK_Y = "BQk9B9pWY6qEi95iX0IFyIdJebp-Ah96dJRRk0jbbhg"
NEXT_PUBLIC_API_URL=http://localhost:8080/api