NEXT_PUBLIC_E2EE_ENABLED=true
NEXT_PUBLIC_SERVER_JWK_X=replace-with-server-public-jwk-x
NEXT_PUBLIC_SERVER_JWK_Y=replace-with-server-public-jwk-y
NEXT_PUBLIC_API_URL=https://api.lenshub.shop/api


NEXT_PUBLIC_GOOGLE_CLIENT_ID=123456789012-abcde12345xyz.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=https://www.lenshub.shop/auth/google/callback
