.container {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
}

.colorBlock {
 display: inline-block;
 width: 20px;
 height: 20px;
}

.redColor {
  .colorBlock();
  background-color: #f5222d;
}

.orangeColor {
  .colorBlock();
  background-color: #faad14;
}

.greenColor {
  .colorBlock();
  background-color: #52c41a;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

