.loginTitle {
  display: flex;
  justify-content: space-between;
  height:32px ;
  align-items: center;
  margin-bottom: 20px ;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.languageSwitcher {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 10px;
}
