<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="APP_UUID" source="app.instance-id"
                    defaultValue="NONE"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"
                    defaultValue="NONE"/>
    <springProperty scope="context" name="APP_PROFILE" source="spring.profiles.active"
                    defaultValue="NONE"/>
    <springProperty scope="context" name="serverName" source="HOSTNAME" />
    <springProperty scope="context" name="TELEGRAM_CHAT_ID" source="app.logging.telegram.chat-id" />
    <springProperty scope="context" name="TELEGRAM_BOT_TOKEN" source="app.logging.telegram.bot-token" />
    <springProperty scope="context" name="APP_VERSION" source="app.version" />

    <springProperty scope="context" name="MQTT_ENDPOINT" source="app.module.mqtt.urls"/>
    <springProperty scope="context" name="MQTT_USERNAME" source="app.module.mqtt.username"/>
    <springProperty scope="context" name="MQTT_PASSWORD" source="app.module.mqtt.password"/>
    <appender name="TELEGRAM"
              class="com.github.paolodenti.telegram.logback.TelegramAppender">
        <botToken>${TELEGRAM_BOT_TOKEN}</botToken>
        <chatId>${TELEGRAM_CHAT_ID}</chatId>
        <Layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[${APP_NAME}] [%X{X-Request-Uri:-na} - %X{X-Remote-User:-na}] [${APP_VERSION}] [${APP_PROFILE}] [${serverName:-${HOSTNAME}}] %d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </Layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <appender name="MQTT"
              class="dev.xbase.core.starter.logback.mqtt.MqttAppender">
        <brokerUrl>${MQTT_ENDPOINT}</brokerUrl>
        <clientId>${APP_NAME}</clientId>
        <topic>/app/${APP_NAME}/${serverName:-${HOSTNAME}}/logs/errors</topic>
        <username>${MQTT_USERNAME}</username>
        <password>${MQTT_PASSWORD}</password>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[${APP_UUID}] [${APP_NAME}] [%X{X-Request-Uri:-na} - %X{X-Remote-User:-na}] [${APP_VERSION}] [${APP_PROFILE}] [${serverName:-${HOSTNAME}}] %d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[${APP_NAME}] [${APP_PROFILE}] [${serverName:-${HOSTNAME}}] %d{ISO8601} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
    <springProfile name="stg">
        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="TELEGRAM"/>
            <appender-ref ref="MQTT"/>
        </root>
    </springProfile>
    <springProfile name="prod | stg-k8s">
        <root level="DEBUG">
            <appender-ref ref="jsonConsoleAppender"/>
            <appender-ref ref="TELEGRAM"/>
            <appender-ref ref="MQTT"/>
        </root>
    </springProfile>
</configuration>