.container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px 0;
    font-size: min(max(1rem, 1.5vw), 1.25rem);
    font-weight: 600;
    color: #262626;
  }
}



.chartSection {
  display: flex;
  align-items: center;
  justify-content: center;

}

.actionSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.chartContainer {
  position: relative;
  width: 8vw;
  height: 10vw;
  min-width: 150px;
  min-height: 150px;
}

.totalValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #262626;
}

.customLegend {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #595959;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .label {
    margin-right: 8px;
  }

  .value {
    color: #8c8c8c;
  }
}

.viewButton {
  background: #f5f5f5;
  border: none;
  border-radius: 6px;
  font-size: min(max(0.875rem, 1vw), 1rem);
  padding: 4px 12px;

  &:hover {
    background: #e8e8e8;
  }
}
