
.avatar {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.1);
}

.redColor {
  background-color: #f5222d;
}

.orangeColor {
  background-color: #faad14;
}

.greenColor {
  background-color: #52c41a;
}

.toolTip {
  cursor: pointer;
}

.selected {
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(24, 144, 255, 0.6);
  transform: scale(1.3);
}
