@import './override.module.less';

.chartCard {
    margin-top: 24px;
    
   
}
  
.chartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
  
.dateRange {
    display: flex;
    align-items: center;
    gap: 8px;
  
}